.card-img-top
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding-top:25px;
}
.card-title
{
    text-align:center;
    font-size:25px;
}
a:hover{color:red}

.card-text
{
    text-align:center;
    font-size:10pt;font-family:Arial;font-style:normal;
    font-size:20px;
}
